extends layout 

block content 
    .d-flex.flex-column.justify-content-center.align-items-center.gap-3
        h1=title
        hr(class="my-3" style="height: 1px; width: 40vw; color: black")


        each category in categories 
            .d-flex.flex-column.justify-content-center.align-items-center.gap-1 
                h2=category.name
                .d-flex.justify-content-center.align-items-center.gap-2
                    a(class="btn btn-primary" href=category.url)= `${category.name} Items`
                    a(class="btn btn-primary" href=`${category.url}/delete`)= `Delete ${category.name} Category`
                    a(class="btn btn-primary" href=`${category.url}/update`)=`Update ${category.name} Category`
                hr(class="my-3" style="height: 1px; width: 40vw; color: black")