extends layout

block content
  h1= title
  each val, index in basket 
    .entry 
      h2=val.category.name
      h3=val.title 
      p=val.description 
      p=val.price 
      p=val.inStock

  a(href="/catalog/items") Browse Items
  a(href="/catalog/categories") Browse Categories

  a(href="/catalog/category/create") Create Category
  a(href="/catalog/item/create") Create Item

