extends layout

block content
  .d-flex.flex-column.justify-content-center.align-items-center.gap-3
    h1= title
    each category in categories 
      .d-flex.flex-column.justify-content-center.align-items-center
        h2(class="d-block")=category.name
        h3=(category.item === null ? "No item assigned" : category.item.title)
        p=(category.item ===  null ? "" : category.item.title)
        p=(category.item === null ? "" : category.item.price)
        p=(category.item === null ? "" : category.item.inStock)
        a(href=`/category/${category._id}`)=`Change ${category.name} assigned item`

  a(href="/items") Browse Items
  a(href="/categories") Browse Categories

  a(href="/category/create") Create Category
  a(href="/item/create") Create Item

