extend layout 

block content 

    h1=title 
    for item in items 
        .item 
            h2=item.title 
            p=(item.category === null ? "No Category" : item.category.name)
            p=`£${item.price}`
            p=`In stock: ${item.inStock}`
            p=item.description
            a(href=`${item.url}/Delete`) Delete Item
            a(href=`${item.url}/Update`) Update Item
